# Site Settings
title                    : "Zihan Wang"
description              : "M.S. incoming at Tsinghua University (Sep. 2026). B.Eng. in CS at Xi'an Jiaotong University. Research interests: LLMs & NLP (alignment, agents, reasoning); data-centric methods (selection/mixing/synthesis); self-evolving agents and AI for scientific research."
repository               : "RayeRen/acad-homepage.github.io"
google_scholar_stats_use_cdn : true

# google analytics
google_analytics_id      :  # TODO: fill if you want analytics

# SEO Related
google_site_verification :  # TODO
bing_site_verification   :  # TODO
baidu_site_verification  :  # TODO

# Site Author
author:
  name             : "Zihan Wang"
  avatar           : "images/android-chrome-512x512.png"   # TODO: replace with your photo if you want
  bio              : "Incoming M.S. student at Tsinghua University. Interested in LLM alignment, agents, reasoning, and data-centric training."
  location         : "Beijing, China"   # (you can also write "Xi'an / Beijing, China")
  employer         :                    # TODO: optional (e.g., "Tsinghua University")
  pubmed           :
  googlescholar    : "https://scholar.google.com/citations?user=eToPcFsAAAAJ&hl=zh-CN"
  email            : "zethive0225@gmail.com"
  researchgate     :
  uri              :                    # TODO: your homepage URL after deployment (e.g., https://<username>.github.io)
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "ZethWang"         # TODO: confirm your github username (if different, change it)
  google_plus      :
  keybase          :
  instagram        :
  impactstory      :
  lastfm           :
  linkedin         :                    # TODO: optional
  dblp             :                    # TODO: optional (if you have it)
  orcid            :                    # TODO: optional but recommended
  pinterest        :
  soundcloud       :
  stackoverflow    :
  steam            :
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  xing             :
  youtube          :
  wikipedia        :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - docs
  - google_scholar_crawler
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .github
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
